<!-- <p>second works!</p>
<p>{{name}}</p> -->

<!-- <div class="component">
    <input type="number" [(ngModel)]="ivanumber" >
    <button  (click)="calculateIVA(ivanumber)">Calcular IVA</button>
    <p [ngStyle]="isPreview ? {'cursor': 'cursor'} : {'cursor': 'no-drop'}">Attachment</p>
    <p [ngStyle]="{'color': background ? 'green' : 'white' }" (mouseover)="mouseOn()" (mouseout)="mouserOut()">Hola Mundo</p>
    <p appHighlight>Actividad</p>

</div> -->
<div [appValidateAcces]="userData">
    <h1>Hola mundo</h1>
</div>
